/.vs/Interitance/FileContentIndex/27d9f8b9-dd51-47a0-8917-94b67093dc8a.vsidx
/.vs/Interitance/FileContentIndex/71c30edb-cd94-48d9-a995-3c6b83f05046.vsidx
/.vs/Interitance/FileContentIndex/c44eacda-e5f1-46cf-9ad9-947fcec42ab4.vsidx
/.vs/Interitance/FileContentIndex/e4f7f1b1-7249-4d14-8dee-6894b44d2204.vsidx
/Interitance/bin/Debug/net6.0/JsonSubTypes.dll
/Interitance/bin/Debug/net6.0/Newtonsoft.Json.dll
/.vs/Interitance/v17/.suo
