/.vs/Interitance/FileContentIndex/30fcf749-7501-4d58-9847-3600721630ea.vsidx
/.vs/Interitance/FileContentIndex/60781383-26df-4d83-bc59-1c78ee34469e.vsidx
/.vs/Interitance/FileContentIndex/9f673a6d-5915-4d55-84b0-e5c33376c3b6.vsidx
/.vs/Interitance/FileContentIndex/d7ffedc7-6874-4074-b5f9-7858f566508d.vsidx
/.vs/Interitance/DesignTimeBuild/.dtbcache.v2
/Interitance/bin/Debug/net6.0/Interitance.dll
/Interitance/bin/Debug/net6.0/Interitance.pdb
/Interitance/obj/staticwebassets.pack.sentinel
/.vs/Interitance/DesignTimeBuild/.dtbcache.v2
/.vs/Interitance/FileContentIndex/8a73ae70-1157-4bde-aaf8-6e5ba9c35efd.vsidx
/.vs/Interitance/FileContentIndex/e50d0051-ce2b-4ade-8436-caeaa2468b6c.vsidx
/.vs/Interitance/v17/.suo
/Interitance/bin/Debug/net6.0/Interitance.dll
/Interitance/bin/Debug/net6.0/Interitance.pdb
/Interitance/obj/Debug/net6.0/Interitance.csproj.CoreCompileInputs.cache
/Interitance/obj/Debug/net6.0/Interitance.dll
/Interitance/obj/Debug/net6.0/Interitance.pdb
/Interitance/obj/Debug/net6.0/ref/Interitance.dll
/Interitance/obj/Debug/net6.0/refint/Interitance.dll
/Interitance/obj/staticwebassets.pack.sentinel
/.vs/Interitance/DesignTimeBuild/.dtbcache.v2
/.vs/Interitance/FileContentIndex/9261534a-3048-43d4-96bf-cc868d367f94.vsidx
/.vs/Interitance/FileContentIndex/d57b84c2-5785-4b30-97e6-f219b8c0f958.vsidx
/.vs/Interitance/v17/.suo
/Interitance/bin/Debug/net6.0/Interitance.dll
/Interitance/bin/Debug/net6.0/Interitance.pdb
/Interitance/obj/Debug/net6.0/Interitance.csproj.CoreCompileInputs.cache
/Interitance/obj/Debug/net6.0/Interitance.dll
/Interitance/obj/Debug/net6.0/Interitance.pdb
/Interitance/obj/Debug/net6.0/ref/Interitance.dll
/Interitance/obj/Debug/net6.0/refint/Interitance.dll
/Interitance/obj/staticwebassets.pack.sentinel
/.vs/Interitance/DesignTimeBuild/.dtbcache.v2
/.vs/Interitance/v17/.suo
/Interitance/bin/Debug/net6.0/Interitance.dll
/Interitance/bin/Debug/net6.0/Interitance.pdb
/Interitance/obj/Debug/net6.0/Interitance.csproj.CoreCompileInputs.cache
/Interitance/obj/Debug/net6.0/Interitance.dll
/Interitance/obj/Debug/net6.0/Interitance.pdb
/Interitance/obj/Debug/net6.0/ref/Interitance.dll
/Interitance/obj/Debug/net6.0/refint/Interitance.dll
/Interitance/obj/staticwebassets.pack.sentinel
/.vs/Interitance/DesignTimeBuild/.dtbcache.v2
/.vs/Interitance/v17/.suo
/Interitance/bin/Debug/net6.0/Interitance.dll
/Interitance/bin/Debug/net6.0/Interitance.pdb
/Interitance/obj/Debug/net6.0/Interitance.csproj.CoreCompileInputs.cache
/Interitance/obj/Debug/net6.0/Interitance.dll
/Interitance/obj/Debug/net6.0/Interitance.pdb
/Interitance/obj/Debug/net6.0/ref/Interitance.dll
/Interitance/obj/Debug/net6.0/refint/Interitance.dll
/Interitance/obj/staticwebassets.pack.sentinel
/Interitance/obj/staticwebassets.pack.sentinel
