/.vs/Interitance/FileContentIndex/30fcf749-7501-4d58-9847-3600721630ea.vsidx
/.vs/Interitance/FileContentIndex/60781383-26df-4d83-bc59-1c78ee34469e.vsidx
/.vs/Interitance/FileContentIndex/9f673a6d-5915-4d55-84b0-e5c33376c3b6.vsidx
/.vs/Interitance/FileContentIndex/d7ffedc7-6874-4074-b5f9-7858f566508d.vsidx
/.vs/Interitance/DesignTimeBuild/.dtbcache.v2
/Interitance/bin/Debug/net6.0/Interitance.dll
/Interitance/bin/Debug/net6.0/Interitance.pdb
/Interitance/obj/staticwebassets.pack.sentinel
/.vs/Interitance/DesignTimeBuild/.dtbcache.v2
/.vs/Interitance/FileContentIndex/8a73ae70-1157-4bde-aaf8-6e5ba9c35efd.vsidx
/.vs/Interitance/FileContentIndex/e50d0051-ce2b-4ade-8436-caeaa2468b6c.vsidx
/.vs/Interitance/v17/.suo
/Interitance/bin/Debug/net6.0/Interitance.dll
/Interitance/bin/Debug/net6.0/Interitance.pdb
/Interitance/obj/Debug/net6.0/Interitance.csproj.CoreCompileInputs.cache
/Interitance/obj/Debug/net6.0/Interitance.dll
/Interitance/obj/Debug/net6.0/Interitance.pdb
/Interitance/obj/Debug/net6.0/ref/Interitance.dll
/Interitance/obj/Debug/net6.0/refint/Interitance.dll
/Interitance/obj/staticwebassets.pack.sentinel
/.vs/Interitance/DesignTimeBuild/.dtbcache.v2
/.vs/Interitance/FileContentIndex/9261534a-3048-43d4-96bf-cc868d367f94.vsidx
/.vs/Interitance/FileContentIndex/d57b84c2-5785-4b30-97e6-f219b8c0f958.vsidx
/.vs/Interitance/v17/.suo
/Interitance/bin/Debug/net6.0/Interitance.dll
/Interitance/bin/Debug/net6.0/Interitance.pdb
/Interitance/obj/Debug/net6.0/Interitance.csproj.CoreCompileInputs.cache
/Interitance/obj/Debug/net6.0/Interitance.dll
/Interitance/obj/Debug/net6.0/Interitance.pdb
/Interitance/obj/Debug/net6.0/ref/Interitance.dll
/Interitance/obj/Debug/net6.0/refint/Interitance.dll
/Interitance/obj/staticwebassets.pack.sentinel
/.vs/Interitance/DesignTimeBuild/.dtbcache.v2
/.vs/Interitance/v17/.suo
/Interitance/bin/Debug/net6.0/Interitance.dll
/Interitance/bin/Debug/net6.0/Interitance.pdb
/Interitance/obj/Debug/net6.0/Interitance.csproj.CoreCompileInputs.cache
/Interitance/obj/Debug/net6.0/Interitance.dll
/Interitance/obj/Debug/net6.0/Interitance.pdb
/Interitance/obj/Debug/net6.0/ref/Interitance.dll
/Interitance/obj/Debug/net6.0/refint/Interitance.dll
/Interitance/obj/staticwebassets.pack.sentinel
/.vs/Interitance/DesignTimeBuild/.dtbcache.v2
/.vs/Interitance/v17/.suo
/Interitance/bin/Debug/net6.0/Interitance.dll
/Interitance/bin/Debug/net6.0/Interitance.pdb
/Interitance/obj/Debug/net6.0/Interitance.csproj.CoreCompileInputs.cache
/Interitance/obj/Debug/net6.0/Interitance.dll
/Interitance/obj/Debug/net6.0/Interitance.pdb
/Interitance/obj/Debug/net6.0/ref/Interitance.dll
/Interitance/obj/Debug/net6.0/refint/Interitance.dll
/Interitance/obj/staticwebassets.pack.sentinel
/Interitance/obj/staticwebassets.pack.sentinel
/.vs/Interitance/FileContentIndex/26b8a4d9-85f3-4f44-b0ce-e21c14d4fb5a.vsidx
/.vs/Interitance/FileContentIndex/71d1fc60-dec6-4322-8ca3-7a45e5f6917d.vsidx
/.vs/Interitance/FileContentIndex/9e56c4ed-300b-4ea7-968b-c465d5b0eca2.vsidx
/.vs/Interitance/FileContentIndex/af24527d-2c63-433c-be18-222cdfaa22cd.vsidx
/Interitance/bin/Debug/net6.0/Interitance.deps.json
/Interitance/bin/Debug/net6.0/JsonSubTypes.dll
/Interitance/bin/Debug/net6.0/Newtonsoft.Json.dll
/Interitance/obj/Debug/net6.0/Interitance.assets.cache
/Interitance/obj/Debug/net6.0/Interitance.csproj.AssemblyReference.cache
/Interitance/obj/Debug/net6.0/Interitance.csproj.FileListAbsolute.txt
/Interitance/obj/Interitance.csproj.nuget.dgspec.json
/Interitance/obj/project.assets.json
/Interitance/obj/project.nuget.cache
/Interitance/Program.cs
